@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/static/fonts/inconsolata/Latin-Inconsolata-Regular-400.woff2') format('woff2');
}

@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('/static/fonts/inconsolata/Latin-Inconsolata-SemiBold-600.woff2') format('woff2');
}

@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/static/fonts/inconsolata/Latin-Inconsolata-Bold-700.woff2') format('woff2');
}
